@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --c1: #073b3a;
    --c2: #0b6e4f;
    --c3: #08a045;
    --c4: #6b8f59;
    --c5: #21d375;
    --c6: #7ae582;
    --c7: #3dac78;
    --c8: #62C370;
    --c9: #3c9f4b;
    --w1: #FFFCF7;
    --w2: #DDE9F3;
    --w3: #EAEBED;
    --w4: #F5F1ED;
    --b1: #1A3B2B;
    --b2: #0C1821;
    --b3: #060f0b;
    --b4: #0A0600;
}

body {
    margin: 0;
    background-color: var(--w1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tomorrow", sans-serif;
    color: var(--b3);
}

p, a, label {
    font-family: "Saira", sans-serif;
    color: var(--b4);
}

.invisible {
    clip: rect(0px, 0px, 0px, 0px);
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 2px -2px gray;
    background-color: var(--w1);
    z-index: 50;
    & > h1 {
        box-sizing: border-box;
        padding: 0.5%;
        margin: 0;
        height: 100%;
        text-align: center;
        font-size: 5vh;
        letter-spacing: 0.2rem;
        display: flex;
        align-items: center;
    }
}

.logo {
    height: 100%;
    aspect-ratio: 116/81;
    box-sizing: border-box;
    margin-left: 1%;
    padding: 0.5%;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
        display: block;
        height: 0.2em;
        width: 5em;
        content: "";
        background-color: var(--c8);
    }
}

.vorstand_slider_container {
    position: relative;
    margin: 5em 0;
    overflow: hidden;
    white-space: nowrap;
    &:hover .vorstand_slider {
        animation-play-state: paused;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 15vw;
        height: 100%;
        background: linear-gradient(to left, transparent, white);
        z-index: 2;
    }
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 15vw;
        height: 100%;
        background: linear-gradient(to right, transparent, white);
    }
}

.vorstand_slider {
    display: inline-block;
    animation: 50s slider infinite linear;
    & img {
        height: 50vh;
        border-top-right-radius: 2.5vh;
        border-top-left-radius: 2.5vh;
    }
}

.slide_element {
    display: inline-block;
    margin: 0 5vh;
    text-align: center;
    background-color: var(--c6);
    border-radius: 2.5vh;
}

@keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}