@import url(./global.css);

nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c182130;
    opacity: 0;
    z-index: 40;
    pointer-events: none;
}

.nav {
    position: relative;
    top: -93vh;
    left: 0;
    height: 93vh;
    width: 100vw;
    padding: 2% 4%;
    padding-bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--w1);
    pointer-events: all;
    box-shadow: -3px 0px 2px -2px gray;
    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: "Saira", sans-serif;
        font-size: 3vh;
        letter-spacing: 0.1rem;
        & li {
            color: var(--b4) !important;
            text-overflow: ellipsis;
            word-wrap: break-word;
            & ul {
                padding-left: 14%;
                list-style: none;
                & li {
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    font-size: 0.8em;
                }
            }
        }
    }
    & a {
        text-decoration: none;
        color: var(--b4);
        &:hover {
            color: var(--c2) !important;
            & > img {
                filter: invert(23%) sepia(55%) saturate(2432%) hue-rotate(142deg) brightness(95%) contrast(91%);
            }
        }
    }
}

.navpic {
    height: 3vh;
    aspect-ratio: 1/1;
    margin-right: 3%;
    transform: translateY(0.1614em);
}

main {
    min-height: 100vh;
    &::before {
        display: block;
        content: "";
        height: 7vh;
    }
}

.hero {
    position: relative;
    height: 98vh;
    width: 100%;
    background-image: url(../img/stock/pre/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    &::after {
        display: block;
        content: "";
        position: relative;
        top: calc(100% - 5vh);
        width: 100%;
        height: 5vh;
        background-image: url(http://lippuner.internet-box.ch:8080/images/svg/hero_to_main_light.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.hero_title {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    background-color: var(--w1);
    color: var(--b4);
    margin: 0;
    font-size: 8vh;
    box-sizing: border-box;
    text-align: center;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: calc(100vw / 64) 0 calc(100vw / 64) 0;
    padding: calc(100vw / 160);
    word-wrap: break-word;
}

.typed-cursor,
#hero_title {
    color: var(--c3);
}

.call_to_action {
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 50%;
    font-size: 3vh;
    background-color: #00ff0d;
    text-decoration: none;
    color: var(--b4);
    text-align: center;
    border-radius: 2vh 0 2vh 0;
    animation: heartBeat;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
        display: block;
        height: 5vh;
        content: "";
    }
}

.eUDiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 70vh;
    border-radius: 2.5vh;
    background: linear-gradient(to right, var(--c7), var(--c2));
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    padding: 0 5vw;
}

.eUFormDescription h1 {
    margin: 3vh 0;
    color: var(--w1);
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
}

.eUForm {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.eUInputDiv {
    position: relative;
    width: 100%;
    margin: 1vh 0;
}

.eUNameInput,
.eUEmailInput,
.eUMessageInput {
    font-size: 3vh;
    box-sizing: border-box;
    padding: 1vh;
    outline: none;
    color: var(--w1);
    border: none;
    border-bottom: 2px solid var(--w1);
    background: transparent;
    border-radius: 0;
    width: 100%;
    resize: none;
    transition: all 0.3s ease-in-out;
}

.eUNameLabel,
.eUEmailLabel,
.eUMessageLabel {
    font-size: 3vh;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--w1);
    padding: 1vh;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.eUNameInput:focus ~ .eUNameLabel,
.eUNameInput:valid ~ .eUNameLabel,
.eUEmailInput:focus ~ .eUEmailLabel,
.eUEmailInput:valid ~ .eUEmailLabel,
.eUMessageInput:focus ~ .eUMessageLabel,
.eUMessageInput:valid ~ .eUMessageLabel {
    transform: translateY(-50%) scale(0.9);
    margin: 0;
    padding: 0.4em;
    background: transparent;
}

.eUSubmit {
    color: #e8e8e8;
    font-size: 15px;
    align-self: flex-start;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.eUSubmit:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.eUSubmit:hover:before {
    opacity: 0.2;
}

.eUSubmit:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.eUMessageInput:focus {
    font-size: 15px;
    height: 50px;
}

.eUCheckLabel {
    cursor: pointer;
    margin-right: 10%;
}

.eUCheckInput {
    display: none;
}

.eUCheckSVG {
    overflow: visible;
}

.eUCheckSVGPath {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.eUCheckInput:checked ~ .eUCheckSVG .eUCheckSVGPath {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

.eUCheckbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.eUAgreement {
    margin: 0;
    font-size: 12px;
    color: white;
}

.emailUsStatusDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.emailUsStatusE {
    color: red;
    max-width: 90%;
    margin: 0;
}

.emailUsStatus {
    color: white;
    max-width: 90%;
    margin: 0;
}

.eUAgreementDetails {
    color: white;
}

.eUAgreementDetails:hover {
    color: aquamarine;
    cursor: pointer;
}

.eUFullAgreement {
    position: absolute;
    left: 150px;
    top: 390px;
    background: linear-gradient(var(--c7) 0%, var(--c2) 100%);
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
}

.eUFullAgreementP {
    font-size: 12px;
    color: white;
    margin: 0;
}

.desktop_only {
    display: none;
}

.mobile_fontsize1 {
    font-size: 4vh;
}