@import url(./global.css);

nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c182130;
    opacity: 0;
    z-index: 40;
    pointer-events: none;
}

.nav {
    position: relative;
    top: -93vh;
    left: 0;
    height: 93vh;
    width: 100vw;
    padding: 2% 4%;
    padding-bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--w1);
    pointer-events: all;
    box-shadow: -3px 0px 2px -2px gray;
    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: "Saira", sans-serif;
        font-size: 3vh;
        letter-spacing: 0.1rem;
        & li {
            color: var(--b4) !important;
            text-overflow: ellipsis;
            word-wrap: break-word;
            & ul {
                padding-left: 14%;
                list-style: none;
                & li {
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    font-size: 0.8em;
                }
            }
        }
    }
    & a {
        text-decoration: none;
        color: var(--b4);
        &:hover {
            color: var(--c2) !important;
            & > img {
                filter: invert(23%) sepia(55%) saturate(2432%) hue-rotate(142deg) brightness(95%) contrast(91%);
            }
        }
    }
}

.navpic {
    height: 3vh;
    aspect-ratio: 1/1;
    margin-right: 3%;
    transform: translateY(0.1614em);
}

main {
    min-height: 100vh;
    &::before {
        display: block;
        content: "";
        height: 7vh;
    }
}

.hero {
    position: relative;
    height: 98vh;
    width: 100%;
    background-image: url(../img/stock/pre/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    &::after {
        display: block;
        content: "";
        position: relative;
        top: calc(100% - 5vh);
        width: 100%;
        height: 5vh;
        background-image: url(http://lippuner.internet-box.ch:8080/images/svg/hero_to_main_light.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.hero_title {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    background-color: var(--w1);
    color: var(--b4);
    margin: 0;
    font-size: 10vh;
    text-align: center;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: calc(100vw / 64) 0 calc(100vw / 64) 0;
    padding: calc(100vw / 160);
    word-wrap: break-word;
}

.typed-cursor,
#hero_title {
    color: var(--c3);
}

.call_to_action {
    position: absolute;
    bottom: 10%;
    left: 30%;
    width: 40%;
    font-size: 3vh;
    background-color: #00ff0d;
    text-decoration: none;
    color: var(--b4);
    text-align: center;
    border-radius: 2vh 0 2vh 0;
    animation: heartBeat;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}