@media screen and (min-width: 830px) and (orientation: landscape) {
    footer {
        position: relative;
        top: 128px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footerDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
    }

    .footerbar {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .siteName {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 10px;
    }

    .footerbarCopyright {
        margin-left: 5%;
        margin-right: 5%;
    }

    .footerSpace {
        height: 27px;
    }
}

@media screen and (orientation: portrait),
screen and (orientation: landscape) and (max-width: 830px) {
    footer {
        position: relative;
        top: 192px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footerDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
    }

    .footerbar {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .siteName {
        position: static;
    }

    .footerbarCopyright {
        margin-left: 5%;
        margin-right: 5%;
    }

    .footerSpace {
        position: relative;
        height: 100%;
        width: 1px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        position: relative;
        top: 256px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footerDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
    }

    .footerbar {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .siteName {
        position: static;
    }

    .footerbarCopyright {
        margin-left: 5%;
        margin-right: 5%;
    }

    .footerSpace {
        position: relative;
        height: 100%;
        width: 1px;
    }
}