@media screen and (min-width: 830px) and (orientation: landscape) {
    .indexLogo {
        box-shadow: 5px 5px 10px 5px #afafafb4;
    }
}

@media screen and (orientation: portrait),
screen and (orientation: landscape) and (max-width: 830px) {
    .indexLogo {
        box-shadow: 5px 5px 10px 5px #afafafb4;
        width: 90%;
    }
}