@import url(./style.css);

@media screen and (min-width: 1290px) and (orientation: landscape) {
    .cardShuffle {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .cardShuffleDiv {
        width: 90%;
        height: 100%;
    }

    .cardShuffleImg {
        height: 800px;
        width: auto;
        box-shadow: 0 8px 32px 0 var(--c1);
    }

    .shuffleSlide {
        flex-direction: column;
    }

    .imgCaption {
        position: relative;
        bottom: 50px;
        width: auto;
    }

    .normalImgCaption {
        display: block;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        padding: 5px;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-weight: bold;
    }

    .normalImgCaptionSpan {
        display: block;
        position: relative;
        transition: all 0.5s ease-in-out;
        width: 100%;
        left: -5px;
        padding: 5px;
        color: transparent;
        animation-name: closeMe;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }

    .normalImgCaption:hover .normalImgCaptionSpan {
        display: block;
        position: relative;
        top: -100px;
        height: 66.6666666666px;
        width: 100%;
        left: -5px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        padding: 5px;
        color: black;
        text-align: center;
        font-weight: bold;
        transition: all 0.5s ease-in-out;
        animation-name: openMe;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }

    .lowResImgCaption {
        display: none;
    }

    .numberOutOf {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        padding: 8px 12px;
        background-color: rgba(200, 200, 200, 0.3);
        border-bottom-left-radius: 15px;
    } 
}

@media screen and (orientation: portrait) and (min-width: 680px),
screen and (orientation: landscape) and (max-width: 1290px) and (min-width: 680px) {
    .cardShuffle {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .cardShuffleDiv {
        width: 90%;
        height: 100%;
    }

    .cardShuffleImg {
        height: 400px;
        width: auto;
    }

    .shuffleSlide {
        flex-direction: column;
    }

    .imgCaption {
        position: relative;
        bottom: 50px;
        width: auto;
    }

    .normalImgCaption {
        display: block;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        padding: 5px;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-weight: bold;
    }

    .normalImgCaptionSpan {
        display: block;
        position: relative;
        transition: all 0.5s ease-in-out;
        width: 100%;
        left: -5px;
        padding: 5px;
        color: transparent;
        animation-name: closeMeSW;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }

    .normalImgCaption:hover .normalImgCaptionSpan {
        display: block;
        position: relative;
        top: -100px;
        height: 67px;
        width: 100%;
        left: -5px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        padding: 5px;
        color: black;
        text-align: center;
        font-weight: bold;
        transition: all 0.5s ease-in-out;
        animation-name: openMeSW;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }

    .lowResImgCaption {
        display: none;
    }

    .numberOutOf {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        padding: 8px 12px;
        background-color: rgba(200, 200, 200, 0.3);
        border-bottom-left-radius: 15px;
    }
}

@media screen and (max-width: 680px) {
    .cardShuffle {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .cardShuffleDiv {
        width: 90%;
        height: 100%;
    }

    .cardShuffleImg {
        height: 200px;
        width: auto;
    }

    .shuffleSlide {
        flex-direction: column;
    }

    .imgCaption {
        position: relative;
        bottom: 50px;
        width: auto;
    }

    .normalImgCaption {
       display: none; 
    }

    .lowResImgCaption {
        display: block;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        padding: 5px;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-weight: bold;
        font-size: 10px;
    }

    .numberOutOf {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        padding: 8px 12px;
        background-color: rgba(200, 200, 200, 0.3);
        border-bottom-left-radius: 15px;
    }
}

@media screen and (min-width: 430px) {
    .eUDiv {
        width: 400px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        background: linear-gradient(to right, var(--c7), var(--c2));
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .eUFormDescription h1 {
        font-size: 30px;
        font-weight: bold;
        color: #e8e8e8;
        margin-bottom: 25px;
        margin-top: 25px;
        text-align: center;
    }
      
    .eUForm {
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
    }
      
    .eUInputDiv {
        width: 300px;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }
      
    .eUNameInput,
    .eUEmailInput,
    .eUMessageInput {
        font-size: 15px;
        padding: 0.7em;
        outline: none;
        color: #e8e8e8;
        border: none;
        border-bottom: 2px solid #e8e8e8;
        background: transparent;
        border-radius: 0;
        width: 279px;
        resize: none;
        transition: all 0.3s ease-in-out;
    }
    
    .eUNameLabel,
    .eUEmailLabel,
    .eUMessageLabel {
        font-size: 100%;
        position: absolute;
        left: 0;
        top: 0;
        color: #e8e8e8;
        padding: 0.7em;
        margin-left: 0.5em;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
    }
      
    .eUNameInput:focus ~ .eUNameLabel,
    .eUNameInput:valid ~ .eUNameLabel,
    .eUEmailInput:focus ~ .eUEmailLabel,
    .eUEmailInput:valid ~ .eUEmailLabel {
        transform: translateY(-50%) scale(0.9);
        margin: 0;
        padding: 0.4em;
        background: transparent;
    }

    .eUMessageInput:focus ~ .eUMessageLabel,
    .eUMessageInput:valid ~ .eUMessageLabel {
        transform: translateY(-80%) scale(0.9);
        margin: 0;
        padding: 0.4em;
        background: transparent;
    }
    
    .eUSubmit {
        color: #e8e8e8;
        font-size: 15px;
        align-self: flex-start;
        padding: 0.6em;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        background: transparent;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }
      
    .eUSubmit:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e8e8e8;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
      
    .eUSubmit:hover:before {
        opacity: 0.2;
    }
      
    .eUSubmit:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .eUMessageInput:focus {
        font-size: 15px;
        height: 50px;
    }

    .eUMessageInput {
        height: 19px;
    }

    .eUCheckLabel {
        cursor: pointer;
        margin-right: 10%;
    }
    
    .eUCheckInput {
        display: none;
    }
    
    .eUCheckSVG {
        overflow: visible;
    }
    
    .eUCheckSVGPath {
        fill: none;
        stroke: white;
        stroke-width: 6;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
        stroke-dasharray: 241 9999999;
        stroke-dashoffset: 0;
    }
    
    .eUCheckInput:checked ~ .eUCheckSVG .eUCheckSVGPath {
        stroke-dasharray: 70.5096664428711 9999999;
        stroke-dashoffset: -262.2723388671875;
    }

    .eUCheckbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .eUAgreement {
        margin: 0;
        font-size: 12px;
        color: white;
    }

    .emailUsStatusDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 300px;
    }

    .emailUsStatusE {
        color: red;
        max-width: 300px;
        margin: 0;
    }

    .emailUsStatus {
        color: white;
        max-width: 300px;
        margin: 0;
    }

    .eUAgreementDetails {
        color: white;
    }

    .eUAgreementDetails:hover {
        color: aquamarine;
        cursor: pointer;
    }

    .eUFullAgreement {
        position: absolute;
        left: 150px;
        top: 390px;
        width: 200px;
        height: 70px;
        background: linear-gradient(var(--c7) 0%, var(--c2) 100%);
        border: solid;
        border-color: white;
        border-width: 1px;
        border-radius: 5px;
        padding: 10px;
        z-index: 2;
    }

    .eUFullAgreementP {
        font-size: 12px;
        color: white;
        margin: 0;
    }
}

@media screen and not (min-width: 430px) {
    .eUDiv {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        border: 1px solid #396afc;
        background: linear-gradient(to right, var(--c7), var(--c2));
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .eUFormDescription h1 {
        font-size: 30px;
        font-weight: bold;
        color: #e8e8e8;
        margin-bottom: 25px;
        margin-top: 25px;
        text-align: center;
    }
      
    .eUForm {
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
    }
      
    .eUInputDiv {
        width: 100%;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }
      
    .eUNameInput,
    .eUEmailInput,
    .eUMessageInput {
        font-size: 15px;
        padding: 0.7em;
        outline: none;
        color: #e8e8e8;
        border: none;
        border-bottom: 2px solid #e8e8e8;
        background: transparent;
        border-radius: 0;
        width: 279px;
        resize: none;
        transition: all 0.3s ease-in-out;
    }
    
    .eUNameLabel,
    .eUEmailLabel,
    .eUMessageLabel {
        font-size: 100%;
        position: absolute;
        left: 0;
        top: 0;
        color: #e8e8e8;
        padding: 0.7em;
        margin-left: 0.5em;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
    }
      
    .eUNameInput:focus ~ .eUNameLabel,
    .eUNameInput:valid ~ .eUNameLabel,
    .eUEmailInput:focus ~ .eUEmailLabel,
    .eUEmailInput:valid ~ .eUEmailLabel {
        transform: translateY(-50%) scale(0.9);
        margin: 0;
        padding: 0.4em;
        background: transparent;
    }

    .eUMessageInput:focus ~ .eUMessageLabel,
    .eUMessageInput:valid ~ .eUMessageLabel {
        transform: translateY(-80%) scale(0.9);
        margin: 0;
        padding: 0.4em;
        background: transparent;
    }
    
    .eUSubmit {
        color: #e8e8e8;
        font-size: 15px;
        align-self: flex-start;
        padding: 0.6em;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        background: transparent;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }
      
    .eUSubmit:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e8e8e8;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
      
    .eUSubmit:hover:before {
        opacity: 0.2;
    }
      
    .eUSubmit:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .eUMessageInput:focus {
        font-size: 15px;
        height: 50px;
    }

    .eUMessageInput {
        height: 19px;
    }

    .eUCheckLabel {
        cursor: pointer;
        margin-right: 10%;
    }
    
    .eUCheckInput {
        display: none;
    }
    
    .eUCheckSVG {
        overflow: visible;
    }
    
    .eUCheckSVGPath {
        fill: none;
        stroke: white;
        stroke-width: 6;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
        stroke-dasharray: 241 9999999;
        stroke-dashoffset: 0;
    }
    
    .eUCheckInput:checked ~ .eUCheckSVG .eUCheckSVGPath {
        stroke-dasharray: 70.5096664428711 9999999;
        stroke-dashoffset: -262.2723388671875;
    }

    .eUCheckbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .eUAgreement {
        margin: 0;
        font-size: 12px;
        color: white;
    }

    .emailUsStatusDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
    }

    .emailUsStatusE {
        color: red;
        max-width: 90%;
        margin: 0;
    }

    .emailUsStatus {
        color: white;
        max-width: 90%;
        margin: 0;
    }

    .eUAgreementDetails {
        color: white;
    }

    .eUAgreementDetails:hover {
        color: aquamarine;
        cursor: pointer;
    }

    .eUFullAgreement {
        position: absolute;
        left: 150px;
        top: 390px;
        width: 200px;
        height: 70px;
        background: linear-gradient(var(--c7) 0%, var(--c2) 100%);
        border: solid;
        border-color: white;
        border-width: 1px;
        border-radius: 5px;
        padding: 10px;
        z-index: 2;
    }

    .eUFullAgreementP {
        font-size: 12px;
        color: white;
        margin: 0;
    }
}

.shuffleSlide:is(.shuffleSlide, display:flex) {
    animation-name: fade;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

@keyframes fade {
    0% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes openMe {
    from {
        height: 0;
        top: -33px;

    }
    to {
        height: 66.66666px;
        top: -100px;
    }
}



@keyframes closeMe {
    from {
        height: 66.66666px;
        top: -100px;
        color: black;
    }
    to {
        height: 0;
        top: -33px;
        color: transparent;
    }
}

@keyframes openMeSW {
    from {
        height: 0;
        top: -33px;

    }
    to {
        height: 67px;
        top: -100px;
    }
}



@keyframes closeMeSW {
    from {
        height: 67px;
        top: -100px;
        color: black;
    }
    to {
        height: 0;
        top: -33px;
        color: transparent;
    }
}