@media screen and (min-width: 830px) and (orientation: landscape) {
    nav {
        transition: all 0.3s ease-in-out;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: var(--c7);
    }

    .navbarOn {
        position: fixed;
        top: 64px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        width: 100%;
        background-color: white;
        border-top: solid;
        border-color: black;
        border-width: 1px;
        box-shadow: 0 4px 2px -2px gray;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        user-select: none;
    }

    .navbarOff {
        position: absolute;
        top: 64px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        height: 0;
        width: 100%;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    .navbarIndex,
    .navbarHome,
    .navbarContact,
    .navbarTeams,
    .navbarRiege,
    .navbarDocuments,
    .navbarPhotos,
    .navbarImprint {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80%;
        transition: all 0.2s ease-in-out;
        margin-left: 1%;
        margin-right: 1%;
    }

    .navbarIndex:hover,
    .navbarHome:hover,
    .navbarContact:hover,
    .navbarTeams:hover,
    .navbarRiege:hover,
    .navbarDocuments:hover,
    .navbarPhotos:hover,
    .navbarImprint:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .navbarTeams > details > summary:hover,
    .navbarRiege > details > summary:hover,
    .navbarPhotos > details > summary:hover,
    .navbarIndex:hover p a,
    .navbarHome:hover p a,
    .navbarContact:hover p a,
    .navbarDocuments:hover p a,
    .navbarImprint:hover p a {
        color: var(--c7);
    }

    .navbarTeams > details > summary,
    .navbarRiege > details > summary,
    .navbarPhotos > details > summary {
        list-style: none;
    }

    .navbarTeams > details[open] > open,
    .navbarRiege > details[open] > open,
    .navbarPhotos > details[open] > open {
        position: absolute;
        top: 80%;
        background-color: white;
        border: solid;
        border-width: 5px;
        border-radius: 10%;
        border-color: white;
        box-shadow: 5px 9px 20px 4px #646464;
        padding: 1px;
    }

    .navbarSVG {
        height: 32px;
        width: 32px;
        margin-right: 10px;
    }

    .navbarSummaryDiv {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbarTeams > details > summary,
    .navbarRiege > details > summary,
    .navbarPhotos > details > summary {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (orientation: portrait),
screen and (orientation: landscape) and (max-width: 830px) {
    nav {
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: var(--c7);
    }

    .navbarOn {
        position: fixed;
        top: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        width: 100%;
        background-color: white;
        border-top: solid;
        border-color: black;
        border-width: 1px;
        box-shadow: 0 4px 2px -2px gray;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        user-select: none;
    }

    .navbarOff {
        position: absolute;
        top: 64px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        height: 0;
        width: 100%;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    .navbarIndex,
    .navbarHome,
    .navbarContact,
    .navbarTeams,
    .navbarRiege,
    .navbarDocuments,
    .navbarPhotos,
    .navbarImprint {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 15%;
        transition: all 0.2s ease-in-out;
    }

    .navbarIndex:hover,
    .navbarHome:hover,
    .navbarContact:hover,
    .navbarTeams:hover,
    .navbarRiege:hover,
    .navbarDocuments:hover,
    .navbarPhotos:hover,
    .navbarImprint:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .navbarTeams > details > summary:hover,
    .navbarRiege > details > summary:hover,
    .navbarPhotos > details > summary:hover,
    .navbarIndex:hover p a,
    .navbarHome:hover p a,
    .navbarContact:hover p a,
    .navbarDocuments:hover p a,
    .navbarImprint:hover p a {
        color: var(--c7);
    }

    .navbarTeams > details > summary,
    .navbarRiege > details > summary,
    .navbarPhotos > details > summary {
        list-style: none;
    }

    .navbarTeams > details[open] > open,
    .navbarRiege > details[open] > open,
    .navbarPhotos > details[open] > open {
        position: absolute;
        top: 65%;
        background-color: white;
        border: solid;
        border-width: 5px;
        border-radius: 10%;
        border-color: white;
        box-shadow: 5px 9px 20px 4px #646464;
        padding: 1px;
    }

    .navbarIndex > a:hover,
    .navbarHome > a:hover,
    .navbarContact > a:hover,
    .navbarDocuments > a:hover,
    .navbarImprint > a:hover,
    .navbarTeams summary:hover,
    .navbarRiege summary:hover,
    .navbarPhotos summary:hover,
    .navbarTeams open > p > a:hover,
    .navbarRiege open > p > a:hover,
    .navbarPhotos open > p > a:hover {
        color: var(--c7);
    }

    .navbarSVG {
        height: 32px;
        width: 32px;
        margin-right: 10px;
    }

    .navbarSummaryDiv {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbarTeams > details > summary,
    .navbarRiege > details > summary,
    .navbarPhotos > details > summary {
        display: flex;
        flex-direction: row;
    }
}