@media screen and (min-width: 830px) and (orientation: landscape) {
    .mapMap,
    .mapSatelite {
        display: flex;
        justify-content: center;
    }
    
    .mapMapImg,
    .mapSateliteImg {
        height: 100%;
        width: 90%;
    }
    .mapButton {
        position: relative;
        font-size: 17px;
        padding: 0.5em 2em;
        border: transparent;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
        background: var(--c3);
        color: white;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
    }

    #mapButton {
        top: 50px;
        left: 15%;
    }

    #linkToMaps {
        top: 50px;
        left: 50%;
    }
       
    .mapButton:hover {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, var(--c2) 0%, var(--c6) 100%);
    }
       
    .mapButton:active {
        transform: translate(0em, 0.2em);
    }
}

@media screen and (orientation: portrait),
screen and (orientation: landscape) and (max-width: 830px) {
    .tempMap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mapMap,
    .mapSatelite {
        display: flex;
        justify-content: center;
    }
    
    .mapMapImg,
    .mapSateliteImg {
        height: 100%;
        width: 90%;
    }

    .mapButton {
        font-size: 17px;
        padding: 0.5em 2em;
        border: transparent;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
        background: var(--c3);
        color: white;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        width: 30vw;
        margin: 5px;
    }
       
    .mapButton:hover {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, var(--c2) 0%, var(--c6) 100%);
    }
       
    .mapButton:active {
        transform: translate(0em, 0.2em);
    }
}